{% extends 'base.html' %}

{% block body %}
    <div>
        <h1 class="title">THERE IS NO TOS, JUST A DISCLAIMER</h1>
        <p class="content" style="padding: 36px;">
            Sorry to break it to you, but there are no terms of service. Just a small disclaimer,
            <span>All I want to make clear is that I am not responsible for the third party api's I used.</span>
        </p>
        <hr>
        <p class="content" style="padding: 12px; text-align: center; font-size: 22px; color: rgb(238, 51, 51);">I am not responsible if your data gets collected by these api's. I willingly won't collect any of your data</p>
        <hr>
        <h1 class="sub_heading">FREEGEOIP</h1>
        <p class="content" style="padding: 36px;">
            Freegeoip is a free and open source tool which over the years has become very pouplar, the creators even made service which is trusted by big corporations like micorsoft. I am not sure about the new service, but hteir old one, freegeoip, the one I am using, doesn't collect data, if it did, they are so popular, they has have given a pivacy policy, but they didn't, so your data processed is most likely not stored.
        </p>
        <h1 class="sub_heading">TIMEAPI</h1>
        <p class="content" style="padding: 36px;">
            Timeapi, is a free time api which returns the exact time date and all that if you give it a time zone. It doesn't collect any data and even if it does, it doesn't matter because all I am providing it is your time zone and if it does store data, all the data it stores is your time zone, as I didn't find a privacy policy for it as well.
        </p>
        <h1 class="sub_heading" style="color: rgb(233, 25, 25);">So Fair Warning</h1>
        <hr>
        <p class="content" style="text-align: center; padding: 12px;">I still encourage you to give the website a try, no harm.</p>
    </div>
{% endblock %}